@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* li{
  color: red;
} */

.nav-link:hover{
  color: red !important;
}

.nav-link.active {
  color: red!important;
}

.container{
  width: 100%;
}

.navbar img{
  margin-left: 30px;
}

.navbar-nav{
  display: flex;
  gap: 20px;
  color: black;
}
.navbar{
  box-shadow: 0px 2px 10px 0px black;
}
li a:hover{
  color: red;
}

/* Home css  */
.bg-img{
  background-image: url('./assets/images/Login.svg');
  background-size: 50%;
  height: 740px;
  background-repeat: no-repeat;
  background-color: #FFD9D2;

}

.header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  margin-top: 70px;
}

.navbar-text{
  width: 450px;
  margin-left: 100px;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}

p{
  margin-top: 10px;
}

.nav-img{
  margin-top: 20px;
  margin-left: 40px;
}

.nav-btn{
  width: 160px;
  height: 40px;
  border-radius: 10px;
  background-color: #EE4E4E;
  color: white;
  border: transparent;
  font-size: medium;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 10px;
}

.billing_text{
  display: grid;
  justify-content: center;
  margin-top: 100px;
}

/* .explain-all{
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

.explain{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 50px;
  margin-top: 30px;
  gap: 80px;
}

.explain-all img{
  width: 500px;
  height: 400px;
}

.explain-all p{
  width: 500px;
  margin-top: 15px;
  /* margin-left: 20px; */
  color: #7E7E7E;
}

.explain-all h3{
  /* width: 400px; */
  margin-top: 13px;
  /* margin-left: 20px; */
  font-weight: 400;
}

.service-all{
  width: 118%;
  height: 670px;
  background-color: #FEF2F2;
  position: relative;
  right: 120px;
}

.service{
  padding: 20px;
}

.service-txt{
  display: grid;
  justify-content: center;
}

.service-txt h2{
  display: grid;
  justify-content: center;
  margin-top: 20px;
}

.service-txt p{
  color: #7E7E7E;
}

.service-img{ 
  width: 567px;
  height: 563px;
  margin-left: 148px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.plugging{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.service-item{
  margin-left: 100px;
}

.service-item img{
  width: 60px;
  margin-left: 45px;
}


.service-item p{
  font-size: medium;
  color: #7E7E7E;
  width: 200px;
}


/* Footer css */

.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 150px;
}

.footer-POS h3{
  font-weight: 400;
  margin-left: 30px;
}

.footer-POS li{
  list-style-type: none;
  color: #7E7E7E;
  margin-top: 15px;
}

.footer-POS p{
  margin-left: 30px;
  color: #7E7E7E;
}

.f_btn{
  margin-left: 30px;
  width: 150px;
  margin-top: 30px;
  height: 35px;
  border-radius: 10px;
  background-color: #EE4E4E;
  color: white;
  border: transparent;
  font-weight: 500;
}

.f-img{
  width: 100px;
  margin-bottom: 50px;
}

.follow{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* padding: 10px; */
  margin-left: 200px;
  margin-bottom: 50px;
}

.follow .f-logo{
  display: flex;
  gap: 20px;
}
.follow .f-logo i{
  font-size: 25px;
  margin-left: 30px;
  margin-top: 20px;
}
.follow p{
  color: #7E7E7E;
}
.follow p:hover{
  color: red;
}
/* p:hover{
  color:#EE4E4E;
} */

/* Table View */

.table-txt{
  margin-top: 50px;
  margin-left: 30px;
  font-weight: 500;
  color: #2e2e2e;
}

hr{
  width: 98%;
  margin-top: 40px;
}

.ground-floor{
  margin-left: 30px;
  margin-top: 50px;
  font-size: larger;
  color: #EE4E4E;
}

.boxes{
    width: 110px;
    background-color: white;
    height: 110px;
    margin-left: 30px;
    margin-top: 30px;
    border: 2px dotted black;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: larger;
    border-radius: 10px;
    cursor: pointer;
}

.boxes:hover{
  background-color: #ffd3d3;
}

.party-boxes:hover{
  background-color: #ffd3d3;
}

.box{
  /* display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  display: grid;
  grid-template-columns: repeat(10, 1fr) ;
}

.party-floor{
  margin-left: 30px;
  margin-top: 50px;
  font-size: larger;
  color: #EE4E4E;
}

.party-boxes{
  width: 350px;
  background-color: white;
  height: 150px;
  margin-left: 30px;
  margin-top: 30px;
  border: 2px dotted black;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: larger;
  border-radius: 10px;
  cursor: pointer;
}
 
.party-box{
  display: flex;
}

/* login page  */

.login{
  width: 100%;
  text-align: center;
  border: transparent;
  background: transparent;
  color: #EE4E4E;
  font-size: 40px;
  font-weight: 600;
}
.signup{
  width: 500px;
  border: transparent;
  background-color: white;
  margin-right: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #cb6060;
  color: white;
}

.both{
  width: 400px;
  height: 50px;
  display: grid;
  justify-content: center;
  margin-right: 100px;
  position: relative;
  top: 20px;
  margin-bottom: 5px;
}

.logins{
  display: grid;
  width: 30px;
  position: relative;
  top: 50px;
  left: 25px;
}

.logins input{
  margin-top: 20px;
  width: 350px;
  height: 50px;
  border-radius: 10px;
  border: transparent;
  padding: 10px;
}

.logins input:hover{
  border-color: #e18989;
}

.logins input:focus::placeholder{
  color: #cb6060;
}

.logins button{
  margin-top: 30px;
  height: 40px;
  border-radius: 10px;
  border: transparent;
  background-color: #EE4E4E;
  color: white;
}

.logins p{
  margin-top: 25px;
}

.btn-order {
  margin-top: 30px;
  height: 40px;
  padding: 0 20px;
  border-radius: 10px;
  border: transparent;
  background-color: #EE4E4E;
  color: white;
}

::placeholder{
  position: relative;
  left: 20px;
  transition: all 0.3s ease;
}



.cards{
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  width: 400px;
  height: 450px;
  position: relative;
  top: 160px;
  left: 970px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


/* Contact css */

.c-main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-left: 70px;
}
.c-text{
  margin-top: 100px;
  width: 70%;
}
.c-text .support{
  color:#EE4E4E;
  font-weight: 500;
}
.c-text p {
  color: #7E7E7E;
  margin-top: 15px;
} 
.c-img img{
  width: 80%;
  margin-top: 60px;
}
.c-text button{
  padding: 8px;
  border-radius: 10px;
  background-color: #EE4E4E;
  color: white;
  border: transparent;
  margin-top: 20px;
}

.nav-link{
  color: white;
}



.calling{
  background-color: #FEF2F2;
  margin-top: 100px;
  width: 117.3%;
  position: relative;
  right: 110px;
  padding: 80px;
}

.issue-text{
  display: grid;
  justify-content: center;
  margin-bottom: 20px;
}

.training{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 180px;
}

.training img{
  width: 150px;
  margin-top: 40px;
}
.training p {
  display: grid;
  justify-content: center;
  position: relative;
  right: 130px;
}
.training .t-text{
  color: #7E7E7E;
}


/* conatct with me */

/* form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
} */

.message{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  margin-top: 50px;
}

.map iframe{
  width: 500px;
  height: 500px;
}

.me-text{
  margin-top: 80px;
}
.me-text p{
  color: #7E7E7E;
}

.message input{
  margin-top: 10px;
  margin-bottom: 20px;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(190, 190, 190, 0.3); 
  border: transparent; 
  padding: 10px;
}

.messageForMe textarea{
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  border-color: black;
  background-color: rgba(190, 190, 190, 0.3); 
  border: transparent;
  padding: 10px;
}

.message label{
  font-size: large;
}

.me-btn{
  height: 50px;
  background-color:#EE4E4E;
  color: white;
  border-radius: 10px;
  width: 200px;
  border: transparent;
}

.about-main{
  display: grid;
  justify-content: center;
  place-content: center;
  margin-top: 70px;
}

/* .about-main h3{
  display: grid;
  justify-content: center;
  margin-left: 250px;
  color: #EE4E4E;
} */
.about-text{
  display: grid;
  justify-content: center;
}
.about-text h3{
  display: grid;
  justify-content: center;
  color: #EE4E4E;
}

.about-main img{
  display: grid;
  justify-content: center;
  margin-left: 120px;
}

.pepole{
  display: grid;
  justify-content: center;
  margin-top: 50px;
}
.pepole h2{
  display: grid;
  justify-content: center;
}
.pepole p{
  color: #7E7E7E;
}

.about-img img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.about-img{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
}

.about-img h4{
  display: grid;
  justify-content: center;
  margin-top: 20px;
  margin-right: 30px;
}

.about-img p{
  display: grid;
  justify-content: center;
  margin-right: 30px;
  color: #7E7E7E;
}

.link{
  text-decoration: none;
  color: black;
}

.link2{
  text-decoration: none;
  color: white;
}
.link2:hover{
  color: white;
}


.login-btn{
  text-decoration: none;
  color: white;
}
.login-btn:hover{
  color: white;
}

.in-head{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #6F6F6F;
  margin-top: 3px;
  gap: 52.1px;
  /* padding: 10px; */
}

.FastFood{
  background-color: #029EDF;
  width: 170px;
  color: white;
  padding: 10px;
  height: 50px;

}

.input-in {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-left: 130px;
}

.search{
  border-radius: 10px;
  border: transparent;
  height: 40px;
  padding: 10px;
  width: 300px;
}

.text-in{
  font-size: 150%;
}
.dine-in{
  display: flex;
  margin-left: 0px;
}
.dine-in button{
  width: 625px;
  justify-content: center;
  position: relative;
  left: 170px;
}

.din-in{
  /* margin-left: 100px; */
  background-color: #EE4E4E;
  color: white;
  font-size: larger;
  font-weight: 600;
  border: transparent;
  width: 300px;
}
.parcel{
  /* margin-left: 100px; */
  background-color: #6F6F6F;
  color: white;
  font-size: larger;
  font-weight: 600;
  border: transparent;
  width: 300px;
}

.payment .qty{
  margin-right: 30px;
}

.li-in{
  list-style: none;
  padding: 15px;
  border-bottom: 2px solid white;
  color: white;
  background-color: #7E7E7E;
  position: relative;
  right: 35px;
  width: 173.5px;
  cursor: pointer;
}

.cate{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.payment{
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* gap: 100px; */
  position: relative;
  left: 58px;
  padding: 50px;
  box-shadow: -25px 0px 20px -20px rgba(0,0,0,0.45);
}
.item-header{
  display: flex;
  gap: 100px;
  margin-top: 50px;
  font-weight: bolder;
}
.item-header h6{
  font-weight: bold;
}
.items{
  overflow-x: hidden ;
}
.food{
  margin-top: 300px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  right: 100px;
  display: flex;
}
.said{
  width: 40px;
  position: relative;
  left: 20px;
  bottom: 5px;
}
.plz{
  width: 50px;
}

/* .KOT:hover{
  position: relative;
  bottom: 25px;
} */

/* .KOT:hover::before{
  content: "Kitchen Order Ticket = ";
} */

.total{
  display: grid;
  margin-top: 20px;
  justify-content: center;
}

.kk{
  margin-top: 50px;
  margin-left: 30px;
  font-weight: 500;
  color: #2e2e2e;
}

.bill-text{
  margin-top: 50px;
  margin-left: 30px;
  font-weight: 500;
  color: #2e2e2e;
}

.category-main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.food-in{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  /* overflow: scroll;
  height: 750px; */
}
.food-in ::-webkit-scrollbar{
  display: none;
}

.food-in{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.food-card{
  width: 150px;
  height: 130px;  
  margin-top: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
  border-left: 3px solid green;
  transition: all linear 0.3s;
  cursor: pointer;
}
.food-card:hover{
  transform: scale(1.1);
}

.foods{
  padding: 10px;
  margin-top: 40px;
}

.main-count{
  display: flex;
  gap: 100px;
  position: relative;
}

.count-food{
  list-style: none;
  margin-top: 30px;
  margin-right: 20px;
}

.qty{
  display: flex;
}
.name-food{
  position: relative;
  right: 30px;
}
.item-food{
  position: relative;
  right: 30px;
}
.qty{
  position: relative;
  left: 30px;
  gap: 10px;
}
.qty button{
  width: 40px;
  height: 30px;
  border-radius: 10px;
  border: transparent;
  margin-top: 8px;
}
.qty td{
  font-size: larger;
}
.price{
  position: relative;
  right: 82px;
}
.plus{
  background-color:rgb(105, 220, 105);
  color: white;
  font-weight: bold;
}
.min{
  background-color:#EE4E4E;
  color: white;
  font-weight: bold;
}
.category li:hover{
  background-color: rgb(128, 178, 53);
  font-weight: bolder;
}

.table-inv{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.foodname{
  position: relative;
  right: 30px;
  z-index: 1;
}
.fooditem{
  position: relative;
  left: 10px;
}
.foodprice{
  position: relative;
  left: 95px;
}

.total {
  font-weight: bolder;
  font-size: larger;
}

/* 
.kot-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-top: 50px;
} */

.kot{
  background-color: yellow;
  border-radius: 10px;
  width: 400px;
  padding: 5px;
  margin-left: 30px;
  margin-top: 40px;
}
.kot p{
  margin-left: 10px;
}

.kot1{
  display: flex;
  gap: 100px;
}

.fd-kot{
  margin-left: 50px;
  margin-top: 30px;
  display: flex;
  gap: 100px;
  width: 700px;
  border: 1px  solid black;
}

.kot-qty{
  margin-left: 90px;
}

.table{
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
  border-radius: 10px;
  margin-top: 30px;
}

.id-kot{
  background-color: #EE4E4E;
  color: #FFF;
}

.modal {
  display: block;
}

.modal_form .input-customer{
  width: 350px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #cb6060;
  padding: 10px;
}

.fade:not(.show) {
  opacity: 1;
  background-color:rgba(0, 0, 0, 0.15)                                   ;
}

.btn-confirm {
  background-color: #EE4E4E;
  color: #FFF;
}

.bills{
  display: flex;
  gap: 150px;
}
.bills-data{
  /* background-color: #ACE1AF; */
}
.bill-col{
  background-color:#EE4E4E;
  color: white;
}

.logout{
  padding: 3px;
  width: 90px;
  background-color: #EE4E4E;
  color: white;
  border-radius: 10px;
  border: transparent;
  font-weight: bold;
}

.foodfrenzy{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}
.frenzy-img img{
  width: 500px;
  margin-top: 60px;
}
.frenzy-text p{
  width: 500px;
  font-weight: 400;
  font-size: small;
  color: #7E7E7E;
  margin-left: 40px;
  letter-spacing: 1px;
}

.about-spli{
  display: flex;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;
  margin-left: 150px;
}

.text-frenzy p{
  color: #7E7E7E;
  width: 500px;
}

.simp-img img{
  width: 200px;
}

.img-main{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.man-img img{
  width: 200px;
  border-radius: 10px;
}

.price-main{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.price-mg img {
  width: 200px;
}

.price-text p{
  color: #7E7E7E;
  width: 500px;

}
.price-text{
  margin-left: 150px;
}
.cost-img {
  display: grid;
  justify-content: center;
  margin-top: 50px;
}
.cost-img img{
  border-radius: 10px;

}



.first{
  background-color: #e18989;
  color: white;
}
